.gamearea{
    padding: 1vh;
    padding-bottom: 0;
    z-index: -1;
    color: white;
    align-items: center;
    height: fill;
  
}
.kok{
    padding-left: 5vw;
}
.bgr{
    margin-left: 0vw;
}
.loiu{
    padding: 1vh 1vw;
    align-items: center;
    width: -webkit-fill-available;

}
.kj{
    font-size: x-large;
}
.jet{
    padding: 0 0 01vh 0vw;
    font-size: large;
    width: -webkit-fill-available;
}
.timerem{
    width: inherit;
    height: 3vh;
    background: #f6c35a;
    margin-left: 6vw;
    border-radius: 10px;
    color: black;
    padding: 2px;
    text-align: start;
}
.poi{
    height: 2vh;
}
.ge{
    font-size: 12px;
}
.qwa{
    
}
.fdsa{
    padding-top: 2vh;
    padding-left: 1vh;
}
.wes{
    height: 20vh;
    width: 80%;
}
.quesimgar{
    padding: 2vh 0;
}
.filling{
    padding: 4vh;
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.letbox{
    height: 5vh;
    width: 5vh;
    background: #dadada;
    color: black;
    text-align: center;
    font-size: x-large;
    margin-right: 1vw;
    margin-top: 1vh;
    border-radius: 10px;
    flex: 0 1 34px;
}
.answerlayer{
    height: fit-content;
    width: inherit;
    background: white;
}
.answe{
    border:1px solid blue
}

.staticarea {
    position: fixed;
   bottom:0;
    width: 400px;
 
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    background: white;
}
.jhw{
    width: 45%;
    height: 7vh;
    margin-right: 1vh;
    border: 1px solid #ff002d;
    border-radius: 10px;
    color: #ff002d;
    background: white;
    font-weight: 900;
}
.butareas{
    width: inherit;
    height: 9vh;
    text-align: center;
}
.inp{
    background: white;
    border: 1px solid #8b03d0;
    padding: 2vh;
    color: #17141d;
    width: 20vw;
}
.aop{
    padding-left: 0;
}
.yts{
    align-items: center;
}
.ghy{
    width: fill;
    border-radius: 10px;
}
.ghe{
    margin-top: 4vh;
}
.lopk
{
    background: #ff002d;
    color: white;
}

@media only screen and (min-device-width: 320px) and (max-width:520px) {
.staticarea{
    width: -webkit-fill-available;
}
.timerem{
    margin-left: 28vw;
}
}