.todaycard{
    background: white;
    height: fit-content;
    color: black;
    width: -webkit-fill-available;
    border-radius: 15px;
    margin:0vw  1vw 0 1vw;
    display: inline-block;
    padding:  0 10px;
}
.card {
    display: inline-block;
  }


  .gameic{
      width: 4vw;
  }
  .topic{
      position: relative;
      margin: auto;
      font-weight: 700;
      font-size: large;
      margin-left: 4vw;
  }
  .imgban {
    width: -webkit-fill-available;
    height: 30vh;
    max-width: 23vw;
}
  .startarea{
      padding: 2vh 0;
  }
  .tim{
      text-align: center;
      background: pink;
      border-radius: 10px;
      box-shadow: 0px 10px 40px -16px rgba(0,0,0,0.61);
  }
  .playnow{
      background-color: #fc2779;
      border-radius: 10px;
      padding: 15px;
      color: white;
      font-weight: bolder;
      font-size: medium;
  }
  .vg{
      padding: 3px 0;
      font-weight: 600;
  }
.todaycard::-webkit-scrollbar{
    scrollbar-width: 0;
}

  @media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1920px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
        .todaycard{
            width: 36vw;
            margin: 0 1vw 0 1vw;
           
        }
        .imgban{
            width: 25vw;
            height: 25vh;
        }
        .gameic{
            width: 6vw;
        }
        .topic{
            margin:3vh 3vw ;
        }
        .imgban,.imgarea{
            width: inherit;
        }
  }
  @media screen 
  and (min-device-width: 600px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


  .todaycard {
    background: white;
    height: -moz-fit-content;
    height: fit-content;
    color: black;
    width: 50vw;
    border-radius: 15px;
    margin: 0vw 5vw 0 5vw;
    display: inline-block;
    padding: 0 10px;
}

.gameic {
    width: 10vw;
}
.topic {
    position: relative;
    margin: 3vh 8vw;
    font-weight: 700;
    font-size: large;
}
.imgban,.imgarea{
    width: inherit;
}
  }

  @media only screen and (min-width: 320px) and (max-width:520px) {

    .imgban {
        width: -webkit-fill-available;
        height: 30vh;
        max-width: 93vw;
    }
    .gameic {
        width: 22vw;
    }
    .topic {
        position: relative;
        margin: auto;
        font-weight: 700;
        font-size: large;
        margin-left: 13vw;
    }
  }