
.pastg{
    padding: 1.5vh;
    padding-top: 0;
}
.lk{
    margin-top: 1.5vh;
}
.ok{
    padding-left: 2vh;
    padding-right: 0;
}


@media screen 
  and (min-device-width: 600px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .imgpa{
        width: 8vw;
    }
    .ok {
        padding-left: 5vh;
        padding-right: 0;
    }
  }


 