.upnextcard{
    background: white;

    height: 30vh;
    width: 40vw;
}
.upnextcard {
    background: white;
    height: -moz-fit-content;
    height: fit-content;
    color: black;
    width: -webkit-fill-available;
    border-radius: 15px;
    margin: 0vw 1vw 0 0vw;
    display: inline-block;
    padding: 1vh;
    box-shadow: 0px 7px 30px -15px rgba(0,0,0,1);
}
.upimg{
    height: 30vh;
    width: -webkit-fill-available;
    max-width: 23vw;
}
.starts{
    
    display: block;
    width: inherit;
    height: 6vh;
    font-weight: bold;
    background: #f6c35a;
    border-radius: 10px;
    box-shadow: 0px 7px 30px -15px rgba(0,0,0,0.57);
}

@media screen 
  and (min-device-width: 600px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .upnextcard{
        width: 50vw;
    }
    .upimg{
        width: inherit;
    }

}
.upn{
    margin-left: 1vw;
}
.gtr{
    padding-bottom: 1vh;
}

@media only screen and (min-width: 320px) and (max-width:520px) {

.upimg{
    max-width: 91vw;
}

}